<div class="container-fluid bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Student
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-student" class="nav-link" routerLinkActive="active">Create student</a>
              <a routerLink="student" class="nav-link" routerLinkActive="active">List student</a>
              <a routerLink="delete-student" class="nav-link" routerLinkActive="active">Delete conduct</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Address
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-address" class="nav-link" routerLinkActive="active">Create address</a>
              <a routerLink="address" class="nav-link" routerLinkActive="active">List address</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              School
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-school" class="nav-link" routerLinkActive="active">Create school</a>
              <a routerLink="school" class="nav-link" routerLinkActive="active">List school</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Department
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-department" class="nav-link" routerLinkActive="active">Create department</a>
              <a routerLink="department" class="nav-link" routerLinkActive="active">List department</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Class
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-class" class="nav-link" routerLinkActive="active">Create class</a>
              <a routerLink="class" class="nav-link" routerLinkActive="active">List class</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sex
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-sex" class="nav-link" routerLinkActive="active">Create sex</a>
              <a routerLink="sex" class="nav-link" routerLinkActive="active">List sex</a>
            </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ranker
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-ranker" class="nav-link" routerLinkActive="active">Create ranker</a>
              <a routerLink="ranker" class="nav-link" routerLinkActive="active">List ranker</a>
            </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Conduct
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="create-conduct" class="nav-link" routerLinkActive="active">Create conduct</a>
              <a routerLink="conduct" class="nav-link" routerLinkActive="active">List conduct</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
